:host {
    display: flex;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-family: var(--font-family);
}

button {
    margin-left: 10px;
    background-color: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: var(--font-family);
}

button:hover {
    background-color: var(--primary-blue-dark);
}