<h1>Forgotten password</h1>
<form>
    <form-input id="username" label="Username" maxlength="20" placeholder="Enter your username" required
                type="text"></form-input>
    <form-input id="security-question1" label="What is your mother's maiden name?" maxlength="50" placeholder="Miranda"
                required type="text"></form-input>
    <form-input id="security-question2" label="What city were you born in?" maxlength="50" placeholder="Chicago"
                required type="text"></form-input>
    <form-input id="security-question3" label="What is your favorite book or movie?" maxlength="50"
                placeholder="Forrest Gump" required type="text"></form-input>
    <form-input id="password" label="New Password" maxlength="64" minlength="8" placeholder="Enter your new password"
                required
                type="password"></form-input>

    <submit-button>Reset the password</submit-button>
</form>