<div class="information-content">
    <image-button alt="previous" id="previous" src="../../assets/previous.svg"></image-button>
    <div class="information-pages">
        <informations-page-component class="page" id="0" title="Welcome to HexaTron">
            <div id="content">
                <p>
                    Step into the digital arena of HexaTron, a game inspired by the classic light-cycle battles of Tron but with a
                    hexagonal twist. </p>
                <p> You can choose between four different ways to play: </p>
                <div id="game-types">
                    <game-types-presentation-component icon="../../assets/friends.png" title="Local">Challenge your friends on the same device
                    </game-types-presentation-component>
                    <game-types-presentation-component icon="../../assets/robot.png" title="Against AI">Practice against computer opponent
                    </game-types-presentation-component>
                    <game-types-presentation-component icon="../../assets/leaderboard.svg" title="Ranked">Test your skills against players worldwide
                    </game-types-presentation-component>
                    <game-types-presentation-component icon="../../assets/vs.png" title="Friendly">Compete against online friends
                    </game-types-presentation-component>
                </div>
            </div>
        </informations-page-component>
        <informations-page-component class="page" id="1" title="Gameplay">
            <img alt="Presentation of the gameplay by image" src="../../assets/gameplayCapture.png">
            <p>In any game mode, each match is played in 3 rounds where your goal is to outlast your opponent by avoiding crashes, staying in the
                arena, and winning more rounds to claim victory.</p>
        </informations-page-component>
        <informations-page-component class="page" id="2" title="Game's controls">
            <p>Here you have a presentation of the game’s control system.</p>
            <div id="computer">
                <p> Player 1, is the main character you will control in every game mode. Player 2, are controls only used during local game by the
                    other
                    player.</p>
                <div id="controls"></div>
                <p>
                    Each colored hexagon on the diagram represents a player’s trail, and since controls rotate with your ship’s orientation on the hex
                    grid, you can customize the keys in the settings to suit your play style.</p>
            </div>
            <div id="mobile">
                <p>
                    You will control your ship using a joystick in the bottom left corner. If you're playing locally, a second joystick will be
                    available for the second player.</p>
                <div id="joystick">
                    <game-joystick></game-joystick>
                </div>
            </div>
        </informations-page-component>
    </div>
    <image-button alt="next" id="next" src="../../assets/next.svg"></image-button>
    <div id="indicators"></div>
    <button class="close-btn" id="close-btn">✖</button>
</div>