<div class="user-info">
    <img alt="Profile picture" id="profile-picture" src="../../assets/profile.svg">

    <div class="inline" id="username-div">
        <form-input id="username-input" maxlength="20" minlength="4" pattern="^[a-zA-Z0-9_\-]+$"
                    placeholder="Enter your username" required type="text"></form-input>
        <h1 id="username"></h1>
        <image-button alt="Edit username" id="edit-username" src="/assets/edit.svg"></image-button>
    </div>

    <h2 id="elo">ELO: </h2>
    <h2 id="league">League: </h2>

    <div id="part">
        <user-password-part></user-password-part>
        <user-friend-part></user-friend-part>
    </div>
</div>