:host {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content {
    display: flex;
    justify-content: center;
    width: 100%;
}

profile-header {
    flex: 1;
}

user-friend-part {
    margin: 20px;
}

@media screen and (max-height: 600px) {
    account-information {
        display: none;
    }

    user-friend-part {
        margin: 20px 0 0 0;
    }
}