<h1>Settings</h1>
<div id="settings">
    <p id="message"></p>
    <div id="colors">
    </div>
    <div id="keys">
    </div>
</div>

<div id="validationPart">
    <submit-button alt="cancel" background-color="var(--card-bg)" background-hover-color="color-mix(in srgb, var(--card-bg) 90%, black)" border-color="var(--primary-blue)"
                   class="buttons-disable" color="var(--text-color)" id="cancel">Discard changes
    </submit-button>
    <submit-button alt="validate" class="buttons-disable" id="validate">Validate</submit-button>
</div>