:host {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 10px 0 10px;
}

img {
    flex: 1;
    max-width: 10%;
    object-fit: contain;
}

#name, user-friend-part {
    flex: 2;
}