:host {
    width: 100%;
    height: 100%;
}

#leaderboard-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#league-selector {
    background: none;
    border: none;
    border-radius: 10px;
    text-align: center;
}

#league-selector:hover {
    cursor: pointer;
}

select {
    font-family: var(--font-family);
    font-size: 1.3rem;
    color: var(--text-color);
}

#league {
    display: flex;
    gap: 10px;
    background-color: var(--background);
    padding: 0 20px 0 20px;
    border-radius: 12px;
    margin-top: 10px;
}

img {
    width: 24px;
    height: 24px;
    padding-top: 5px;
}