:host {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s ease-out forwards;
    height: 80%;
    font-size: 1.3rem;
}

#leaderboard-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333333;
}

#league-selector {
    background: none;
    border: none;
    border-radius: 10px;
}

#league-selector:hover {
    background-color: rgba(108, 108, 108, 0.22);
}

select {
    font-size: 1.3rem;
}

user-profile {
    display: none;
}