::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    margin: 20px 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(90, 90, 90, 0.9);
}

.sidenav {
    box-sizing: border-box;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: var(--sidebar-width);
    background-color: white;
    overflow-x: hidden;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
}

.sidenav.open {
    padding: 60px;
    width: 600px;
}

@media screen and (max-width: 750px) {
    .sidenav.open {
        width: calc(100% - var(--sidebar-width));
    }
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .close-btn {
    visibility: hidden;
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 36px;
    margin-right: 50px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#content {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#close-btn {
    z-index: 2;
}