::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    margin: 20px 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(90, 90, 90, 0.9);
}

:host {
    box-sizing: border-box;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: var(--sidebar-width);
    background-color: white;
    overflow-x: hidden;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
}

:host(.open) {
    width: 600px;
}

@media screen and (max-width: 750px) {
    :host(.open) {
        width: calc(100% - var(--sidebar-width));
    }
}

:host a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

:host a:hover {
    color: #f1f1f1;
}

#close-btn {
    margin: 15px 0 0 15px;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    background-color: var(--card-bg);
    color: black;
    cursor: pointer;
    visibility: visible;
    transition: background 0.3s ease;
}

.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#close-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-height: 450px) {
    :host {
        padding-top: 15px;
    }

    :host a {
        font-size: 18px;
    }
}

#content {
    box-sizing: border-box;
    padding: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100%;
}

#close-btn {
    z-index: 2;
}