<h1>Login</h1>
<form class="login-form">
    <form-input id="name" label="Username" placeholder="Enter your username"
                required type="text"></form-input>
    <form-input id="password" label="Password" placeholder="Enter your password" required type="password"></form-input>

    <submit-button>Login</submit-button>
</form>
<p class="register-text">
    Not yet registered?
    <span class="link" data-action="register" id="register-link">Register here</span>
</p>
<p class="register-text">
    Lost password?
    <span class="link" data-action="forgottenPassword" id="forgotten-link">Reset your password here</span>
</p>
