:host {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register-text {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.forgotten-text {
    font-size: 14px;
    text-align: center;
}

.link {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer
}

form {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 2rem;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}