:host {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 20%;
}

#player1 {
    justify-self: end;
}

#player2 {
    justify-self: start;
}

div {
    display: flex;
}

p {
    margin: 0 0 0 20px;
    font-size: 1.5rem;
}