:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.player {
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
}

.player p {
    margin: 0 0 0 20px;
    font-size: 1.5rem;
    padding-top: 5px;
    text-wrap: nowrap;
}

img {
    width: 24px;
    height: 24px;
    padding-top: 5px;
}

#header {
    width: 80%;
    max-height: 100%;
    max-width: 100%;
}