:host {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.tab {
    padding: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin: 10px 5px;
    background-color: #f0f0f0;
}

.tab.active {
    background-color: var(--primary-blue);
    color: white;
    font-weight: bold;
}