:host {
    height: 100%;
    width: 100%;
}

#friends-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#friends-container {
    height: 75%;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

friends-list {
    max-height: 50%;
}