:host {
    overflow: auto;
    max-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 5px 20px 5px;
    background-color: var(--card-bg);
    box-shadow: 0 4px 12px var(--shadow);
    border-radius: 12px;
}