<div class="nav-links">
    <div class="nav-button" id="profile">
        <image-button alt="profile" src="/assets/profile.svg"></image-button>
    </div>
    <div class="nav-button" id="settings">
        <image-button alt="settings" src="/assets/settings.svg"></image-button>
    </div>
    <div class="nav-button" id="leaderboard">
        <image-button alt="leaderboard" src="/assets/leaderboard.svg"></image-button>
    </div>
    <div class="nav-button" id="friends">
        <image-button alt="friends" src="/assets/friends.png"></image-button>
    </div>
    <div class="nav-button hidden-disconnected" id="chat">
        <image-button alt="chat" src="/assets/chat.png"></image-button>
    </div>
    <div class="nav-button hidden-disconnected" id="notifications">
        <div id="numberNotRead"></div>
        <image-button alt="notifications" src="/assets/notifications.png"></image-button>
    </div>
</div>