image-button {
    height: 34px;
    width: 34px;
}

:host {
    display: none;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: -2px 0 10px var(--shadow);
    padding-top: calc(20px - 0.5rem);
    opacity: 0;
    pointer-events: none;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

:host(.visible) {
    animation: slideIn 0.4s ease forwards;
    pointer-events: auto;
}

:host(.hidden) {
    animation: slideOut 0.4s ease forwards;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-button:hover {
    background-color: color-mix(in srgb, var(--primary-blue) 10%, transparent);
    transform: translateY(-2px);
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-button:hover {
    background-color: color-mix(in srgb, var(--primary-blue) 10%, transparent);
    transform: translateY(-2px);
}

.nav-button.active {
    background-color: color-mix(in srgb, var(--primary-blue) 30%, transparent);
}

.hidden {
    display: none;
}

#notifications {
    position: relative;
}

#numberNotRead {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background-color: var(--red);
    color: white;
    border-radius: 20px;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    text-align: center;
}

.bounce-animation {
    animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-height: 600px) {
    :host {
        padding-top: 0.5rem;
    }

    .nav-links {
        gap: 5px;
    }

    .nav-button {
        width: 36px;
        height: 36px;
        font-size: 1.2rem;
        padding: 0.70rem;
    }

    image-button {
        width: 20px;
        height: 20px;
    }

    #numberNotRead {
        height: 1.2rem;
        width: 1.2rem;
        font-size: 0.8rem;
    }
}
