<div class="nav-links">
    <div class="nav-button" id="profile">
        <image-button alt="profile" span="Profile" src="/assets/profile.svg"></image-button>
    </div>
    <div class="nav-button" id="settings">
        <image-button alt="settings" span="Settings" src="/assets/settings.svg"></image-button>
    </div>
    <div class="nav-button" id="leaderboard">
        <image-button alt="leaderboard" span="Leaderboard" src="/assets/leaderboard.svg"></image-button>
    </div>
    <div class="nav-button" id="friends">
        <image-button alt="friends" span="Friends" src="/assets/friends.png"></image-button>
    </div>
    <div class="nav-button hidden-disconnected" id="chat">
        <image-button alt="chat" span="Chat" src="/assets/chat.png"></image-button>
    </div>
    <div class="nav-button hidden-disconnected" id="notifications">
        <div id="numberNotRead"></div>
        <image-button alt="notifications" span="Notifications" src="/assets/notifications.png"></image-button>
    </div>
</div>