:host {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    align-items: center;
    justify-items: center;
    padding: 0 20px 0 10px;
}

player-display {
    justify-self: start;
}

#elo {
    justify-self: end;
}