<section-title>Security</section-title>
<div id="password-inputs">
    <form-input id="current-password" label="Current Password" placeholder="Enter your current password"
                required type="password"></form-input>
    <form-input id="password" label="New Password" maxlength="64" minlength="8"
                placeholder="Enter your new password"
                required type="password"></form-input>
    <form-input id="confirm-password" label="Confirm Password" placeholder="Confirm your new password"
                required type="password"></form-input>
    <submit-button>Change password</submit-button>
</div>