:host {
    position: relative;
    display: inline-block;
}

button {
    height: 36px;
    background-color: #efefef;
    color: #0b0b0b;
    border: none;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button:hover {
    background-color: rgba(154, 155, 161, 0.8);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#lock-icon {
    display: none;
    width: 16px;
    height: 16px;
}

#tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

:host([locked]) button:hover + #tooltip {
    visibility: visible;
    opacity: 1;
}