button {
    background-color: #efefef;
    color: #0b0b0b;
    border: none;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgba(154, 155, 161, 0.8);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
