<h1>Register</h1>
<form class="login-form">
    <form-input id="username" label="Username" maxlength="20" minlength="4" pattern="^[a-zA-Z0-9_\-]+$"
                placeholder="Enter your username" required type="text"></form-input>
    <form-input id="password" label="Password" maxlength="64" minlength="8" placeholder="Enter your password"
                required type="password"></form-input>
    <form-input id="confirm-password" label="Confirm Password" placeholder="Confirm your password"
                required type="password"></form-input>

    <h2>Security questions</h2>
    <form-input id="security-question1" label="What is your mother's maiden name?" maxlength="50" placeholder="Miranda"
                required type="text"></form-input>
    <form-input id="security-question2" label="What city were you born in?" maxlength="50" placeholder="Chicago"
                required type="text"></form-input>
    <form-input id="security-question3" label="What is your favorite book or movie?" maxlength="50"
                placeholder="Forrest Gump" required type="text"></form-input>

    <submit-button>Register</submit-button>
</form>