:host {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    background-color: var(--card-bg);
    border-radius: 12px;
    width: 90%;
    text-align: center;
    font-size: 1.2rem;
}

#content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
}

#type {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 5px 0;
}

#isNotRead {
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: var(--red);
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

:host(.isNotRead) {
    background-color: color-mix(in srgb, var(--red) 10%, transparent);
}

:host(.friend) {
    background-color: color-mix(in srgb, green 10%, transparent);
}

:host(.message) {
    background-color: color-mix(in srgb, var(--primary-blue) 10%, transparent);
}

:host(.isNotRead) #type {
    border-bottom: 1px solid var(--red);
}

:host(.friend) #type {
    border-bottom: 1px solid green;
}

:host(.message) #type {
    border-bottom: 1px solid var(--primary-blue);
}


:host(:not(.isNotRead)) #isNotRead {
    display: none;
}

#delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--red);
    color: white;
    border: none;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    display: none;
    padding: 0;
    text-align: center;
}

:host(:hover) #delete-btn {
    display: block;
}

:host(.button_hidden) #content {
    grid-template-columns: 1fr;
}

:host(.button_hidden) button {
    display: none;
}

button {
    border-radius: 20px;
    border: none;
    font-size: 0.9rem;
    padding: 10px;
    background-color: var(--card-bg);
    box-shadow: 0 2px 5px var(--shadow);
}