:root {
    --green: #16af00;
    --win-green: #180;
    --primary-blue: #3498db;
    --primary-blue-dark: #2980b9;
    --background: #f5f7fa;
    --text-color: #2c3e50;
    --card-bg: #ffffff;
    --red: #e74c3c;
    --dark-red: #c0392b;
    --loose-red: #ea1600;
    --gray: #e0e0e0;
    --dark-gray: #d0d0d0;
    --shadow: rgba(0, 0, 0, 0.1);
    --sidebar-width: 80px;
    --button-image-size: 24px;

    font-size: 1.2rem;
}

@media screen and (max-height: 600px) {
    :root {
        font-size: 0.9rem;
        --sidebar-width: 70px;
    }
}

@font-face {
    font-family: Teko;
    src: url(font/Teko/Teko-VariableFont_wght.ttf);
}

* {
    font-family: Teko, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family: Teko, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#outlet {
    width: 100%;
    height: 100%;
}

body {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--background);
    color: var(--text-color);
    overflow: hidden;
}

html, body {
    margin: 0;
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}