#rank-badge {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 5px;
}

#rank-icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}
