<div class="modal-content">
    <image-button alt="previous" id="previous" src="../../assets/previous.svg"></image-button>
    <div class="modal-body">
        <div class="page" id="0">
            <h1>Welcome to HexaTron</h1>
            <div class="content">
                <p>
                    Step into the digital arena of HexaTron, a thrilling strategy game inspired by the classic light-cycle battles of Tron but with a
                    hexagonal twist. Unlike the traditional grid-based gameplay, HexaTron takes place on a hexagonal grid that creates more movement
                    possibilities and strategic depth.
                </p>
                <p>Play across 4 different types of game:</p>
                <ul>
                    <li>Local - Challenge your friends on the same device</li>
                    <li>Against AI- Practice against computer opponent</li>
                    <li>Ranked - Test your skills against players worldwide</li>
                    <li>Online Friends - Compete against online friends</li>
                </ul>
                <p>Whether you're looking for casual fun with friends or competitive ranked matches to test your skills, Hex-Tron offers multiple ways
                    to enjoy the hexagonal battlefield. Master the unique movement patterns, develop advanced strategies, and claim your place among
                    the elite HexaTron players.</p>
            </div>
        </div>
        <div class="page" id="1">
            <h1>Gameplay</h1>
            <div class="content">
                <img alt="Presentation of the gameplay by image" src="../../assets/gameplayCapture.png">
                <p>No matter which game mode you choose, each match is played in 3 rounds. <br>
                    Your objective is simple: be the last one standing at each round and win more rounds than your opponent. <br>
                    The rules are simple: to win a round, avoid falling out of the arena, crashing into your opponent’s trail, or running into your
                    own. <br>
                    Master the arena, outsmart your opponent, and claim victory!</p>
            </div>
        </div>
        <div class="page" id="2">
            <h1>Game's controls</h1>
            <div class="content">
                <p>Here you have a presentation of the game’s control system. </p>
                <div id="controls">

                </div>
                <p>
                    Player 1, is the main character you will control in every game mode, whether you are playing solo or against others. Player 2, are
                    controls only used during local game. <br>
                    On the diagram, each colored hexagon represents a player’s trail. You control your ship using four keys, but the controls rotate
                    with your ship. This means the keys always move you based on your ship’s current orientation on the hexagonal grid. <br>
                    It might take a moment to get used to, but once you’ve mastered it, you’ll be zipping through the grid like a pro!<br>

                    Tips: if the default keys don’t feel quite right, you can fully customize them in the settings menu to match your preferred style
                    of play.</p>
            </div>
        </div>
    </div>
    <image-button alt="next" id="next" src="../../assets/next.svg"></image-button>
    <div id="indicators"></div>
    <button class="close-btn" id="close-btn">✖</button>
</div>