#profile-container {
    position: relative;
    display: inline-block;
    width: 144px;
    height: 144px;
}

#profile-picture {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

image-overlay {
    opacity: 0;
}

#profile-container:hover image-overlay {
    opacity: 1;
}

custom-spinner {
    display: none;
}

#file-input {
    display: none;
}

.loading image-overlay {
    opacity: 0 !important;
    pointer-events: none;
}

.loading #profile-container {
    pointer-events: none;
}

#profile-picture {
    pointer-events: none;
}

.loading #profile-picture {
    opacity: 0.3;
}

.loading custom-spinner {
    display: block;
}

@media screen and (max-height: 600px) {
    #profile-container {
        width: 115px;
        height: 115px;
    }
}