:host {
    max-width: 400px;
    width: 100%;
}

#buttons {
    padding: 20px 0 60px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#account-settings {
    display: none;
    text-align: center;
}

submit-button {
    flex: 1
}

@media screen and (max-height: 600px) {
    #account-settings {
        display: block;
    }

    #buttons {
        padding: 20px 0 25px 0;
    }

    #logout {
        display: none;
    }
}