<information-update></information-update>
<password-update></password-update>

<div id="buttons">
    <submit-button
            background-color="white"
            background-hover-color="rgba(127, 140, 141, 0.1)"
            border-color="#7f8c8d"
            color="#7f8c8d"
            id="logout"
            padding="10px">
        Log out
    </submit-button>
    <submit-button
            background-color="white"
            background-hover-color="rgba(231, 76, 60, 0.1)"
            border-color="#e74c3c"
            color="#e74c3c" id="delete"
            padding="10px">
        Delete account
    </submit-button>
</div>